body{
	background-color: white;
	text-align: center;
}
#header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#subheader{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main-title{
	font-size: 70px;
	color: #45ADA8;
	text-shadow: 2px 2px 8px #547980;
	padding-right: 7%;
}

#login-text{
	font-size: 70px;
	color: #45ADA8;
	text-shadow: 2px 2px 8px #547980;
	margin-top: 10%;
}


#logout{
	align-self: flex-end;
}

#cart{
	align-self: flex-end;
}

#welcome-text{
	color: #45ADA8;
	text-align: left;
}

.search{
	font-size: 30px;
}

.search-text{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('search.png');
  background-position: 10px 10px; 
  background-size: 25px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

.search-text:focus {
  width: 100%;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin-left: 30px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #  594F4F ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #547980}

.button:active {
  background-color: #547980;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.search-section{
	display: flex;
	justify-content: center;
}

 table, th, td{
 	border-collapse: collapse;
	border: 2px solid black;
	text-align: center;
	background-color: #E5FCC2 ;
	font-size: 25px;

}


.regular-input {
	width: 15%;
	height: 30px;
	margin: 20px;
}
